.section-album{
    display: flex;
    margin: auto;
    column-gap: 4.5%;
    max-width: 1200px;
    background-color: blueviolet;
}
.cover-album{
    width: 31.5%;
    background-color: brown;
    height: 300px;
}
.infos-album{
    width: 64%;
    background-color: blue;
    height: 300px;
}