@import '../variables';
.container{
  max-width: 1200px;
  margin: 90px auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
@media(max-width:1000px){
  .container{
  flex-direction: column;
  row-gap: 50px;
  display: flex;
  align-content: center;
  }
  .section1,.section2,.section3{
    margin-top: 0;
  }
}

.types-forfaits{
  color: $texte-types-forfaits;
  font-size: 36px;
  margin-top: 90px;
}
@media(max-width:600px){
  .types-forfaits{
    font-size: 26px;
  }
}
.section2, .section3, .section4 {
  height: 627px;
  width: 358px;
  border-radius: 20px;
  border: 6px solid;
  &.section2 {
    border-color: $border-section-gold;
    background-color: $background-color-section;
  }
  &.section3 {
    border-color: $border-section-platine;
    background-color: $background-color-section;
    @media (max-width: 1200px) {
      background-color: $background-color-section;
    }
  }
  &.section4 {
    border-color: $border-section-diamant;
    background-color: $background-color-section;
  }
}
h1 {
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
  height: 3%;
  &#gold{
    background-color:$background-btn-gold;
  }
  &#platine{
    background-color:$background-btn-platine;
  }  
  &#diamant{
    background-color:$background-btn-diamant;
  }
  &.offer {
    font-size: 1.5em;
    margin-bottom: 10px;   
  }
}
.prix{
  text-align: center;
}
.reduction{
  text-align: center;
}
.div-validation{
  display: flex;
  column-gap: 10px;
  align-items: center;
  margin: 10px 0;
}
.offers-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .offer {
    width: 400px;
    // padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    height: 550px;
    justify-content: space-between;
    @media (max-width: 1200px) {
      width: 100%;
      max-width: 400px;
      margin: 20px 0;
    }
    h1 {
      font-size: 24px;
      font-weight: 400;
      margin: 0;
      text-align: center;
      &.offer {
        font-size: 20px;
      }
    }
    h2 {
      font-size: 1.2em;
      margin-bottom: 10px;
      small {
        font-size: 60%;
        font-weight: 400;
      }
    }
    ul {
      list-style: none;
      padding-left: 0;
      padding: 40px;
      border-top: solid thin $border-ul-abonnement;
      border-bottom: solid thin $border-ul-abonnement;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      li {
        // margin-bottom: 1em;
        &:last-child {
          margin-bottom: 2;
        }
        &.disabled {
          opacity: 0.5;
        }
      }
    }
  }
}
.cta-button{
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: $background-btn-gold;
  color:$texte-button-abonnement;
  text-decoration: none;
  border-radius: 10px;
  border: 1px solid $border-button-abonnement;
  box-shadow: 2px 2px 8px $box-shadow-button-abonnement;
  &.cta-button-gold{
    background-color: $background-btn-gold;
  }
  &.cta-button-platine{
    background-color: $background-btn-platine;
  }
  &.cta-button-diamant{
    background-color: $background-btn-diamant;
  }
}