nav a:hover {
    color: #fddb3a;
  }

#section1{
	height: 750px;
	color: white;
	background-size: cover;
	background-position: right center;

	& .container{
		height: 100%;
		display: flex;
		flex-direction: column;

		& div:not(div.controle){
			flex-grow: 1;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
		}
	}

	& h1{
		font-size: 1.125rem;
		margin-bottom: 0;
	}

	& h2{
		font-size: 30px;
	}

	& footer{
		width: 100%;
		text-align: center;
		flex-shrink: 0;
	}
}

#section2{

	& .container{
		display: flex;
		flex-direction: column;

		& > h1{
			color: #fbfbfb;
			font-size: 1.125rem;;
		}
	}
}

.benefit{

	width: 100%;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;

	& img, & div div{
		display: flex;
		min-width: 205px;
		max-width: 205px;
    	justify-content: space-between;
	}

	& h1{
		font-size: 1rem;
		color: #fbfbfb;
		margin: 0;
	}

	& p{
		color: #cfcfcf;
		font-size: 0.7rem;
		font-weight: 200;
	}

	& p:nth-child(2){
		color: #d0ad5c;
	}

	& figure{
		margin: 0;
	}
}

#section3{
	background-color: #252525;
	padding: 15px;

	& .container{
		display: flex;
		flex-direction: column;

		& > h1{
			color: #fbfbfb;
			font-size: 1.125rem;;
		}

		& article{

			display: flex;
			flex-wrap: wrap;
			align-items: inherit;
			justify-content: space-around;

			& div{
				background-color: #fbfbfb;
				border-radius: 15px;

				&#gold{

					border: 4px solid #dcbd64;;
					display: flex;
					min-width: max-content;
					padding: 12px;
					justify-content: space-between;

					& aside{
						display: flex;
						align-items: center;
					}

					& h1{
						background-color: #dcbd64;
						max-width: min-content;
					}

				} 
			}

		}
	}
}

.container:not(header div.container) {

	padding: 25px;

	& h1{
		min-width: max-content;
	}
}

.controle{
	display:grid;
	grid:2rem/repeat(2,1fr);
	place-items:center;
	padding: 50px;	
		}
		
	.controle button{ 
	font-size: 2rem;
	border: none;
	cursor: pointer;
	color:#fbfbfb;	
		} 
			
	.contenu-carrousel {	
	margin: 5rem auto;
	width: 300px;
	height: 200px;
	position: relative;
	perspective: 1000px;
	padding-top: 100px;
		
	}
	
	.carrousel {
		
	 height: 100%;
	 width: 100%;
	 position: absolute;
	 transform-style: preserve-3d;
	 transition: transform 1s;
		
	}
	
	.carrousel div {
		
	backface-visibility: hidden;
	box-shadow: 0 10px 10px rgba(0,0,0,.6);
	position: absolute;
	width: 300px;
	height: 200px;
	outline: 1px solid transparent
		
	}
		
	.carrousel div:nth-child(1) {
		
	transform: rotateY(0) translateZ(270px);
		
	}
		
	.carrousel div:nth-child(2) {
		
	transform: rotateY(60deg) translateZ(270px);
	
	}
		
	.carrousel div:nth-child(3) {
		
	transform: rotateY(120deg) translateZ(270px);
		
	}
		
	.carrousel div:nth-child(4) {
		
	transform: rotateY(180deg) translateZ(270px);
		
	}
		
	.carrousel div:nth-child(5) {
		
	transform: rotateY(240deg) translateZ(270px);
		
	}
		
	.carrousel div:nth-child(6) {
		
	transform: rotateY(300deg) translateZ(270px);
		
	}


@media screen and (max-width: 1000px){

	#section1{
		zoom: 0.6;
	}

	.container{
		padding: 0 30px;
	}

	.benefit{
	
		& div div, & img{
			max-width: 120px;
			min-width: 120px;
		}
	}

	#section3 article{
		flex-direction: column;
		width: 70%;
	}

}