@import '../variables';
@import '../layout/header';
// .container-header{
//     justify-content: space-between;
//     max-width: 1200px;
//     display: flex;
//     margin: auto;
// }
// .right-side-nav{
//     display: flex;
//     max-width: 520px;
// }
// .lien-nav{
//     display: flex;
//     width: 520px;
//     justify-content: space-evenly;
//     align-items: center;
// }
body{
    background-color:$background-site;
}
.infos-album{
    display: flex;
    max-width: 1200px;
    margin: 90px auto 90px auto;
    column-gap: 4.5%;
}
.cover-album{
    width: 380px;
    height: 391px;
}
.details-album{
    width: 64%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.infos-chanson{
    height: 79px;
    display: flex;
    color: $texte-infos-chanson;
    max-width: 1200px;
    margin: auto;
    border-radius: 5px;

    &:hover:not(div.titre){
        background-color: $background-tracklist-hover;
    }
}
.numero-chanson{
    height: 100%;
    width: 8.5%;
    display: flex;
    align-items: center;
    font-size: 18px;
    padding-left: 10px;
}
.titre-chanson{
    height: 100%;
    width: 83%;
    display: flex;
    align-items: center;
    font-size: 18px;
}
.temps-chanson{
    height: 100%;
    width: 8.5%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 18px;
    padding-right: 10px;
}
.titre-melo{
    font-weight: 700;
    font-size: 116px;
    color: $texte-titre-melo;
    margin: 0;
}
.sous-titre-tiakola{
    font-size: 34px;
    color: $texte-sous-titre-tiakola;
    margin: 0;
}
.description-album{
    font-size: 18px ;
    padding-top: 10px;
    color: $texte-description-album;
}
.prix-album{
    font-size: 26px;
    padding-top: 10px;
    color: $texte-prix-album;
    display: flex;
    justify-content: flex-end;
    margin: 0;
}
.div-btn-acheter-album{
    display: flex;
    justify-content: flex-end;
    padding-top: 22px;
}
.btn-acheter-album{
    background: $background-btn-acheter-album;
    border-radius: 18px;
    font-weight: 700;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $texte-btn-acheter-album;
    width: fit-content;
    padding: 10px;
}
.btn-acheter-album:hover{
    background-color: $background-btn-acheter-album-hover;
}
.img-album-tiakola{
    width: 100%;
    height: 100%;
}
hr{
    max-width: 1200px;
    width: 83.4%;
    border: 0; 
    border-top: 1px solid $border-hr;
    margin: auto; 
}
.hr-tracklist{
    border-top: 2px solid $border-hr-tracklist;
    width: 100%;
}
.separation-infos-tracklist{
    max-width: none;
    width: 100%;
}
.tracklist{
    max-width: 1200px;
    margin: auto;
}
@media(max-width:391px){
    .hr-tracklist, .infos-album, .infos-chanson{
        width: 358px;
    }
}
.titre-column-tracklist{
    font-weight: bold;
}
@media(max-width:600px){
    .separation-infos-tracklist{
        margin-top: 20px;
    }
    .details-album{
        width: 100%;
    }
    .sous-titre-tiakola,.titre-melo,.description-album{
       text-align: center;
    }
    .prix-album,.div-btn-acheter-album{
        justify-content: center;
        padding-top: 10px;
    }
    .infos-album{
        flex-direction: column;
        margin: auto;
        align-items: center;
    }
    .titre-melo{
        font-size: 36px;
    }
    .sous-titre-tiakola{
        font-size: 24px;
    }
    .description-album,.prix-album{
        font-size: 16px;
    }
    .btn-acheter-album{
        font-size: 16px;
    }
    .cover-album{
        width: 236px;
        height: 243px;
        margin-top: 30px;
        margin-bottom: 15px;
    }
    .temps-chanson,.numero-chanson,.titre-chanson{
        font-size: 15px;
    }
}