@import '../layout/header';
@import '../layout/footer';
// @import '../reset.scss';

body{
    background-color:$background-site;
    margin: 0;
}
a{
	text-decoration: none;
	color: currentColor;
}
button{
	border: none;
	background-color: transparent;
	cursor: pointer;
}