@import '../variables';
body{
    background-color:$background;
}

hr.dash {
	border-top: 2px dashed #807F7F;
      }

.cta-button {
display: block;
margin: 20px auto;
padding: 30px 150px;
background-color: #000000;
color: white;
text-decoration: none;
border-radius: 10px;
box-shadow: 2px 2px 8px gray;
font-weight: 700;
font-size: 33px;
line-height: 40px;
margin-bottom: 5%;
width: 60%;
}

.div1 {
	width: auto;
	display: flex;
	justify-content: center;
	margin-bottom: 5%;
	@media (max-width: 1200px) {
	width: 100%;
	flex-wrap: wrap;
	justify-content: center;
	}
}
	
.div2 {
	width: 1055px;
	height: auto;
	border-radius: 20px;
	border: 6px solid;
	@media (max-width: 1200px) {
	max-width: 358px;
	margin-top: 20px;
	}
	&.div2 {
	border-color: #C0C0C0;
	background-color: white;
	@media (max-width: 1200px) {
	border-color: #C0C0C0;
	background-color: white;
	height: auto;
	width: 90%;
	}
	}
}

.div-info
{
	padding: 5%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.panier {
	width: 100%;
	height: auto;
	border-radius: 20px;
	@media (max-width: 1200px) {
	}
	&.panier {
	background-color: #D9D9D9;
	@media (max-width: 1200px) {
	border-color: #D9D9D9;
	background-color: #D9D9D9;
	height: auto;
	width: 100%;
	}
	}
}



.offers-container {
	display: flex;
	flex-wrap: wrap;
	.offer {
		padding: 20px;
		text-align: center;
		margin: 20px;
		width: 100%;
	}

@media (max-width: 600px) {
.offer {
    margin: 2%;
    width: 100%;
    height: 100%;
    padding: 0%;

}
label{
	font-size: 15px;
	height: 65%;
}
}
}

label {
display: block;
margin-left: 1%;
font: 1rem 'Fira Sans', sans-serif;
text-align: left;
font-size: 30px;
height: 62.58px;
width: 100%;
}
	

input.btn-entrer-ici {
width: 80%;
margin-left: 1%;
box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
border-radius: 10px;
font-size: 24px;
padding: 5px 0 5px 20px;
float: left;
height: 35%;
&::first-letter {
font-size: 24px;
font-weight: bold;
margin-left: -20px;
margin-right: 5px;
}
}

input.btn-valider-album {
width: 20%;
margin-right: 2%;
box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
border-radius: 10px;
font-size: 24px;
padding: 5px 0 5px 0px;
float: left;
height: 35%;
}

.div-btn-valider-album{
	display: flex;
	justify-content: space-between;
	align-items: center;
	justify-content: flex-end;
}

.div-btn-acheter-album{
	display: flex;
	justify-content: flex-end;
	padding-top: 22px;
    }
    .btn-acheter-album{
	background: #FFFFFF;
	border-radius: 18px;
	font-weight: 700;
	// font-size: clamp(16px,calc(24*var(--res)),24px);
	font-size: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #000000;
	width: fit-content;
	padding: 10px;
    }
.infos-album{
    display: flex;
    max-width: 1200px;
    margin: 50px auto 0px auto;
    column-gap: 4.5%;
}

.cover-album{
    // width: clamp(260px,calc(380*var(--res)),380px);
    // height: clamp(260px,calc(380*var(--res)),380px);
    width: 380px;
    height: 350px;
    margin-left: 5%;
}

.img-album-tiakola{
    //width: 100%;
    //height: 95%;
    width: 95%;
    height: 90%;
}

.details-album{
    width: 64%;
}

.titre-melo{
    font-weight: 700;
    // font-size: clamp(36px,calc(128*var(--res)),128px);
    font-size: 128px;
    color: #000000;
    margin: 0;
}

.sous-titre-tiakola{
    // font-size: clamp(24px,calc(40*var(--res)),40px);
    font-size: 30px;
    color: #818181;
    margin: 0;
}

.legende-tiakola{
	// font-size: clamp(24px,calc(40*var(--res)),40px);
	font-size: 25px;
	color: #4D4D4D;
	margin: 0;
    }

.legende-tiakola-gold{
	// font-size: clamp(24px,calc(40*var(--res)),40px);
	font-size: 30px;
	color: #FFB200;
	margin: 0;
}

.legende-tiakola-gras{
	// font-size: clamp(24px,calc(40*var(--res)),40px);
	font-size: 30px;
	color: #000000;
	margin: 0;
}

.description-album{
    // font-size: clamp(16px,calc(24*var(--res)),24px);
    font-size: 24px ;
    padding-top: 10px;
    color: #818181;
}
.prix-album{
    // font-size: clamp(16px,calc(32*var(--res)),32px);
    font-size: 32px;
    color: #DDBA55;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    margin-right: 10%;
}

.div-infos{
	display: flex;
	justify-content: space-between;
	align-items: center;
}


@media(max-width:600px){
    .hr-tracklist, .infos-chanson{
        width: 358px;
    }
}

$cta-button-padding-small: 20px;
$cta-button-padding-large: 100px;
$cta-button-font-size-small: 24px;
$cta-button-font-size-large: 33px;


@media(max-width:600px){
    // .cover-album{
    //     align-items: center;
    // }
    .details-album{
        width: 100%;
    }


   .description-album{
       text-align: center;
    }
    .prix-album{
        justify-content: center;
    }
    .infos-album{
        margin: auto;
        align-items: center;
    }
    .titre-melo{
        font-size: 36px;
    }
    .sous-titre-tiakola{
        font-size: 24px;
    }
    .description-album,.prix-album{
        font-size: 16px;
    }
    .cover-album{
	width: 235px;
	height: 145px;
	margin: 3%;
    }


    .cta-button {
	//padding: $cta-button-padding-small $cta-button-padding-large;
	
	padding: 15px 23px;
	font-size: $cta-button-font-size-small;
	line-height: 30px;
	width: 80%;
	margin-bottom: 8%;
	}


input.btn-entrer-ici, input.btn-valider-album {
	font-size: 15px;
} 
.legende-tiakola, .legende-tiakola-gold, .legende-tiakola-gras{
	font-size:15px;
}
   
}