@keyframes fadeIn{
	from{opacity: 0; transform: translateY(100%);}
	to{opacity: 1; transform: translateY(0%);}
}

.cta-button{
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	font-weight: 700;
	display: inline-block;
	padding: 1em 3em;
	background-color: grey;
	letter-spacing: 0.1em;
	border-radius: 1000px;
	transition: all 0.3s;
	border: solid thin grey;
	text-align: center;

		&:hover{
			background-color: black;
		}

		&--blue{
			background-color: var(--blue);
			border-color: var(--blue);

			&:hover{
				background-color: var(--blue-hover);
				border-color: var(--blue-hover);
			}
		}

		&--white{
			background-color: white;
			border-color: var(--green);
			color: var(--green);

			&:hover{
				background-color: var(--green-hover);
				color: white;
			}
		}

		&--green{
			background-color: var(--green);
			border-color: var(--green);

			&:hover{
				background-color: var(--green-hover);
				border-color: var(--green-hover);
			}
		}

}


.container{
	max-width: 1170px;
	margin: auto;
}

body{
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	background-color: #111111;

	& > footer{
		padding: 1rem 0;
		background-color: black;
		color: white;
		font-size: 12px;

		& li a{
			padding: 0.5em;
			display: block;
			text-decoration: none;
		}

		& ul{
			list-style: none;
			margin: 0;
			padding: 0;
			display: flex;
		}

		& .container{
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}
}


nav a:hover {
    color: #fddb3a;
  }

img{
	max-width: 100%;
}

#logo-link{
	width: 140px;
	line-height: 0;
	z-index: 10;
}

#menu-button{
	display: none;
	z-index: 10;

	&::before{
		content: '';
		display: inline-block;
		width: 2rem;
		height: 2rem;
		background-image: url('../../dist/assets/images/menu.svg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
	}
}

#shop-button{

	&::before{
		content: '';
		display: inline-block;
		width: 2rem;
		background-image: url('../../src/assets/images/shopping.svg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
	}
}

#section1{
	height: 750px;
	padding: 75px 0 0 0;
	color: white;
	background-size: cover;
	background-position: right center;

	& .container{
		height: 100%;
		display: flex;
		flex-direction: column;

		& div:not(div.controle){
			flex-grow: 1;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
		}
	}

	& h1{
		font-size: 1.125rem;
		margin-bottom: 0;
	}

	& h2{
		font-size: 30px;
	}

	& .cta-button{
		animation: fadeIn 1s;
	}

	& footer{
		width: 100%;
		text-align: center;
		flex-shrink: 0;
	}
}

#section2{

	& .container{
		display: flex;
		flex-direction: column;

		& > h1{
			color: #fbfbfb;
			font-size: 1.125rem;;
		}
	}
}

.benefit{
	width: 100%;
	display: flex;
	justify-content: space-between;
	& img, & div div{
		display: flex;
		min-width: 205px;
		max-width: 205px;
    	justify-content: space-between;
	}

	& h1{
		font-size: 1rem;
		color: #fbfbfb;
		margin: 0;
	}

	& p{
		color: #cfcfcf;
		font-size: 0.7rem;
		font-weight: 200;
	}

	& p:nth-child(2){
		color: #d0ad5c;
	}

	& figure{
		margin: 0;
	}
}

#section3{
	background-color: #252525;

	& .container{
		display: flex;
		flex-direction: column;

		& > h1{
			color: #fbfbfb;
			font-size: 1.125rem;;
		}

		& article{


			& div{
				background-color: #fbfbfb;
				border-radius: 15px;

				&#gold{

					border: 4px solid #dcbd64;;
					display: flex;
					min-width: max-content;
					padding: 12px;

					& aside{
						display: flex;
						align-items: center;
					}

					& h1{
						background-color: #dcbd64;
						max-width: min-content;
					}

				} 
			}

		}
	}
}

.offers-container{
	width: 70%;
	margin: 20px auto 30px auto;
	display: flex;
	justify-content: space-between;
}

.offer{
	width: 48%;
	background-color: white;
	padding: 30px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	box-shadow: 0 0 8px rgba(0,0,0,0.2);
	position: relative;
	top: 0;
	transition: all 0.3s;
	cursor: pointer;

	&:hover{
		top: -10px;
		box-shadow: 0 0 24px rgba(0,0,0,0.2);
	}

	& h1{
		font-size: 24px;
		font-weight: 400;
		margin: 0;
	}

	& h2{
		font-size: 32px;
		margin: 0;

		& small{
			font-size: 60%;
			font-weight: 400;
		}
	}

	& ul{
		list-style-image: url('../assets/images/checklist.svg');
		padding: 30px 0 30px 30px;
		border-top: solid thin lightgrey;
		border-bottom: solid thin lightgrey;
		
		& li{
			margin-bottom: 1em;

			&:last-child{
				margin-bottom: 0;
			}

			&.disabled{
				opacity: 0.5;
			}
		}
	}
}

.fa-user-circle-o{
	display: none;
}

.container h1{
	min-width: max-content;
}


@media screen and (max-width: 1000px){

	.container{
		padding: 0 30px;
	}

	header{

		& nav{
			position: absolute;
			left: 0;
			top: -750px;
			width: 100vw;
			height: 100vh;
			background-color: #fbfbfb;
			color: black;
			transition: top 1s;

			& ul{
				flex-direction: column;
				height: 100%;
				justify-content: center;
				align-items: center;
			}

			&.open{
				top: 0;
			}

			& li a{
				color: black;
			}
		}

		& .container{
			justify-content: space-between;
		}
	}

	.benefit{
	
		& div div, & img{
			max-width: 120px;
			min-width: 120px;
		}
	}
	#menu-button{
		display: inline-block;
	}

	.offers-container{
		width: 100%;
		flex-direction: column;
		gap: 30px;
	}

	.offer{
		width: 100%;
	}

	body > footer ul{
		flex-direction: column;
	}

	.fa-user-circle-o{
		color: white;
		display: block;
	}
}

.controle{
	display:grid;
	grid:2rem/repeat(2,1fr);
	place-items:center;
	padding: 50px;	
		}
		
	.controle button{ 
	font-size: 2rem;
	border: none;
	cursor: pointer;
	color:#fbfbfb;	
		} 
			
	.contenu-carrousel {	
	margin: 5rem auto;
	width: 300px;
	height: 200px;
	position: relative;
	perspective: 1000px;
	padding-top: 75px;
		
	}
	
	.carrousel {
		
	 height: 100%;
	 width: 100%;
	 position: absolute;
	 transform-style: preserve-3d;
	 transition: transform 1s;
		
	}
	
	.carrousel div {
		
	backface-visibility: hidden;
	box-shadow: 0 10px 10px rgba(0,0,0,.6);
	position: absolute;
	width: 300px;
	height: 200px;
	outline: 1px solid transparent
		
	}
		
	.carrousel div:nth-child(1) {
		
	transform: rotateY(0) translateZ(270px);
	background:url(image.jpg) no-repeat center center/cover
		
	}
		
	.carrousel div:nth-child(2) {
		
	transform: rotateY(60deg) translateZ(270px);
	background:url(image.jpg) no-repeat center center/cover
	
	}
		
	.carrousel div:nth-child(3) {
		
	transform: rotateY(120deg) translateZ(270px);
	background:url(image.jpg) no-repeat center center/cover
		
	}
		
	.carrousel div:nth-child(4) {
		
	transform: rotateY(180deg) translateZ(270px);
	background:url(image.jpg) no-repeat center center/cover
		
	}
		
	.carrousel div:nth-child(5) {
		
	transform: rotateY(240deg) translateZ(270px);
	background:url(image.jpg) no-repeat center center/cover
		
	} 
		
	.carrousel div:nth-child(6) {
		
	transform: rotateY(300deg) translateZ(270px);
	background:url(image.jpg) no-repeat center center/cover
		
	}	
	