//Background

$background-site:#181818; 
$background-tracklist-hover:#262626;
$background-btn-acheter-album:#FFFFFF;
$background-btn-acheter-album-hover:#c7c7c7;
$background-header:#111111;
$background-footer:#111111;

//Texte
$texte-infos-chanson:#FFFFFF;
$texte-titre-melo:#FFFFFF;
$texte-sous-titre-tiakola:#818181;
$texte-description-album:#FFFFFF;
$texte-prix-album:#DDBA55;
$texte-btn-acheter-album:#000000;
$texte-footer:#FFFFFF;
$texte-header:#FFFFFF;
$texte-lien-header-hover:#fddb3a;

//Border
$border-hr:#383838;
$border-hr-tracklist:#ffffff;