@import "../scss/pages/achat";
*{
	box-sizing: border-box;
}

html{
	--blue: #1E3264;
	--blue-hover: #2A468D;
	--green: #1DB954;
	--green-hover: #1ED760;
}

a{
	text-decoration: none;
	color: currentColor;
}

button{
	border: none;
	background-color: transparent;
	cursor: pointer;
}

header{
	background-color: rgba(0,0,0,0.5);
	padding: 1rem 0;
	position: fixed;
	width: 100%;
	z-index: 10;

	& .container{
		display: flex;
		justify-content: space-around;
		align-items: center;
	}

	& nav ul{
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;
	}

	& nav li a{
		display: block;
		padding: 0.5em;
		color: white;
		text-decoration: none;
	}

	& nav.open ul li:nth-child(4){
		display: none;
	}
}
*
body{
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	background-color: #111111;

	& > footer{
		padding: 1rem 0;
		background-color: black;
		color: white;
		font-size: 12px;
	}
}